<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="sec-outside">
   <div class="sec-inside">
<!-- Go to app.ts page to control this page -->
<!-- this is one way binding -->
    <div class="oneway">
         <h1>{{getName()}}</h1>
   <p>[This is One Way Binding]</p>
    </div>
    
    <div class="towway">
     <!-- this is two way binding -->
    <p>[This is Two Way Binding]</p>
    <div class="inputfiled">
         <label for="">Entery your name: </label>
         <input type="text" [(ngModel)]="fullname" placeholder="Enter your name">
    </div>

<h3>Your Name:{{fullname}}</h3>
<!-- safe navigation binding  -->
<p [textContent]="user?.name"></p>
    </div>
 
 </div>
</div>

<div class="sec-outside">
   <div class="sec-inside">
       <h3>Images</h3>
    <div class="imges">
    <img src="{{imageUrl}}">
    <img src="{{imageUrl2}}">
    <img src="{{imageUrl3}}">
</div>
<div class="clicker">
        <h1>Clicked {{clickCount}} times</h1>
<button (click)="clickMe()">Click</button>
</div>

</div>
</div>
 
<div class="sec-outside">
    <div class="sec-inside">
           <!-- Mini-Project -->
<app-counter></app-counter>
</div>
</div>

<div class="sec-outside">
   <div class="sec-inside">
         <div class="example">
<fieldset>
    <legend><h3>Angular Signals</h3></legend>
    <app-counters></app-counters>
</fieldset>
<fieldset>
    <legend><h3>'NgFor'-Example</h3></legend>

<ul>
    <li *ngFor = "let movie of movies; let isFirst = first; let isLast = last"> <strong  *ngIf="isFirst">First  </strong > <strong *ngIf="isLast">Last  </strong>{{movie}}</li>
    
</ul>
<ol>
   <li *ngFor = "let color of colors; let isEven = even; let isOdd = odd;"[ngClass]="{'even': isEven, 'odd': isOdd}"> {{color}}</li>
</ol>
</fieldset>

<fieldset>
    <legend><h3>'NgClass'- Example</h3></legend>
    Click here to change color <input type ="checkbox" [(ngModel)]="turnon"> 
    <p [ngClass] ="{'primary':turnon}"> Change my color</p>
    <p [ngStyle] ="{'color':'red'}">Default Style Property using 'ngStyle'</p>
</fieldset>
</div>
   </div>
</div>

<div class="sec-outside">
   <div class="sec-inside">
         <div class="profile">
 <h1>Profile Editor - mini project</h1>
<app-profile></app-profile>
</div>
   </div>
</div>

<div class="sec-outside">
     <div class="sec-inside">
          <div class="demo">
    <h1>Custome diractive</h1>
    <app-demo></app-demo>
</div>
</div>
</div>

<div class="sec-outside">
    <div class="sec-inside">
          <h1 class="pipesheader">Pipes</h1>
<div class="pipes">
    
    <!-- date pipes example -->
   <fieldset>
    <legend>Date Pipes</legend>
    <p>Unformated Date: {{toDate}}</p>
    <p>Formated Date: {{toDate | date}}</p>
    <p>Medium Date: {{toDate | date:'medium'}}</p>
    <p>Short Date: {{toDate | date:'short'}}</p>
    <p>Full Date: {{toDate | date:'fullDate'}}</p>
    <p>Long Date: {{toDate | date:'longDate'}}</p>
   </fieldset>
    <!-- slice pipe example -->
   <fieldset>
    <legend>Slice Pipes</legend>
    <p>My Name: {{myname}}</p>
    <p>First Name: {{myname |slice:0:6}}</p>
    <p>Last Name: {{myname |slice:14:19}}</p>
    <p><u>Working with array using <strong>Slice pipes</strong></u></p>
    <ol>
        <li *ngFor = "let item of items">{{item}}</li>
    </ol>
    <p *ngFor = "let item of items | slice:0:1">Position 1 :{{item}}</p>
    <p *ngFor = "let item of items | slice:3:4">Position 4 :{{item}}</p>
   </fieldset>
   <!-- Uppercase & lowercase pipes example -->
   <fieldset>
    <legend>Upercase & Lowercase pipes</legend>
    <p>Default word: {{word}}</p>
    <p>Uppercase word: {{word | uppercase}}</p>
    <p>Lowercase word: {{word | lowercase}}</p>
   </fieldset>
    <!-- currency pipes example -->
   <fieldset>
    <legend>Currency pipes</legend>
    <p>Price without formatting:{{price}}</p>
    <p>Default currency pipe:{{price | currency}}</p>
    <p>Indian currency pipe:{{price | currency:'INR'}}</p>
   </fieldset>
</div>
    </div>
</div>
 
<div class="sec-outside">
    <div class="sec-inside">
         <h1 style="text-align: center;">Component Communication</h1>
<div class="todo">
    <app-todo (taskAdded) = "onTaskAdded($event)"></app-todo>
    <app-list [lTasks]="taskNames"></app-list>
</div>
    </div>
</div>

</body>



